<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.andyer03.latteboot">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.LatteBoot">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings" />

        <activity
            android:name=".shortcuts.RebootDevice"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_restart"
            android:label="@string/reboot_device_title"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shortcuts.ScreenOff"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_shutdown"
            android:label="@string/reboot_screenoff_title"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shortcuts.RebootRecovery"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_recovery"
            android:label="@string/reboot_recovery_title"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shortcuts.RebootFastboot"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_bootloader"
            android:label="@string/reboot_bootloader_title"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shortcuts.RebootDNX"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_dnx"
            android:label="@string/reboot_dnx_title"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shortcuts.ShutDown"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_shutdown"
            android:label="@string/reboot_shutdown_title"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shortcuts.RebootSafeMode"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_shield"
            android:label="@string/reboot_safemode_title"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shortcuts.RebootWindows"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_windows"
            android:label="@string/reboot_win_title"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>